# Bytecode
__pycache__/
*.py[cod]
*.bak

# Entorno virtual
venv/
.env/

# Archivos temporales
*.log
*.tmp

# Compilaciones de PyInstaller
build/
dist/
*.spec

# Archivos del sistema operativo
.DS_Store
Thumbs.db
